.city-list {
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-wrapper {
    flex-direction: column;
    .city {
      width: 80vw;
      max-width: 590px;
      height: 60px;
      padding: 1rem;
      margin-bottom: 0.7rem;
      border-radius: 16px;
      cursor: pointer;
      &-description {
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        &__name {
          font-size: 2rem;
        }
      }
      &-temp {
        width: 50px;
        height: 50px;
        font-size: 2.2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &-icon {
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: baseline;
      }
      .remover {
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 5px;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
