.city-list {
  &-wrapper {
    display: flex;
    flex-direction: column;


    .city {
      cursor: pointer;
      padding: 0.7rem;
      margin: 0.4rem;
      width: 90vw;
      height: 7vh;
      border-radius: 15px;
      &-description {
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        &__name {
          font-size: 1.8rem;
        }
      }
      &-temp {
        width: 50px;
        height: 50px;
        font-size: 2.2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &-icon {
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: baseline;
      }

      .remover {
        background-color: #f51a1a;
        border-radius: 10px;
        width: 50px;
        justify-content: center;
        align-items: center;
      }

    }

  }
}
