.search {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  &-form {
    &__input {
      width: 90vw;
      max-width: 400px;
      height: 30px;
      border-radius: 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0.15);
      padding-left: 1rem;
      &::placeholder {
        color: rgba(255, 255, 255, 0.47);
      }
      &:focus {
        outline: none;
        color: white;
      }
    }
  }
  &-btn {
    margin-top: 0.5rem;
    justify-content: flex-end;
    top: 40px;
    right: 0;
    cursor: pointer;
    &__find {
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .search-list {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    .suggestion {
      height: 1.7rem;
      cursor: pointer;
      &__flag {
        margin-left: 0.3rem;
        width: 1.4rem;
        height: 1rem;
      }
    }
  }
}
